button:focus{
    outline:none;
}
.hero{
    min-height:850px;
    background-image:url('../img/site-hero.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center right;
    margin-bottom:100px;
}
header{
    height:100px;
    z-index:2000;
    padding:20px 0 0;
}
header ul{background-color: #ffffff;}
.first-row{
    z-index:1;
    margin-top:123px;
}
.second-row{
    margin-top:123px;
}
.green-bg-text{
   padding:10px 20px 7px; 
background-color: #7beec7;
color: #60606e;
font-family: 'Montserrat', sans-serif;
font-size: 18px;
font-weight: 700;
text-transform: uppercase;
width:100px;
line-height:0.8;
}
.grey-border-text{
    color: #60606e;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 80px;
    text-transform: uppercase;
    min-height: 100px;
    border: 10px solid #60606e;
    width:100%;
    margin-bottom:25px;
    line-height: 1.5;
}
.default-text{
    color: #60606e;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding:0 10px;
}
.hero-description{
    padding-top:30px;
}

.text-heading{
    color: #60606e;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    position:relative;
    z-index:1;
    margin-bottom:25px;
}
.text-heading:before{
    content:"";
    position:absolute;
    width: 67px;
    height: 20px;
    background-color: #7beec7;
    left:0;
    bottom:-4px;
    z-index:-1;
}
.text-heading+.default-text{
    line-height: 1.65;
    margin-bottom:25px;
}
.green-button{
    border:none;
    width: 165px;
    height: 50px;
    background-color: #7beec7;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    cursor:pointer;
    right:0;
    position:absolute;
}
/*choose us*/
.why-choose-us {
	margin-top: 245px;
}
.why-choose-us .title {
	color: #60606e;

font-family: 'Montserrat', sans-serif;

font-size: 30px;

font-weight: 700;

line-height: 48px;

text-transform: uppercase;
z-index: 1;
position: relative;
margin-bottom: 25px;
}
.why-choose-us .title:before {
	content:"";

    position:absolute;

    width: 68px;

    height: 21px;

    background-color: #7beec7;

    left:0;

    bottom:4px;

    z-index:-1;
}
.why-choose-us .title-description {
	color: #60606e;

font-family: 'Open Sans', sans-serif;

font-size: 14px;

font-weight: 400;

line-height: 24px;

}
.title-row {
	margin-bottom: 100px;
}
.service-title {
	color: #60606e;

font-family: 'Montserrat', sans-serif;

font-size: 18px;

font-weight: 700;

line-height: 48px;

text-transform: uppercase;
}
.service-description {
	list-style: none;
	padding-left: 0;
	margin-left: 0;
	margin-bottom: 60px;
}
.service-description li {
	color: #999999;

font-family: 'Open Sans', sans-serif;

font-size: 14px;

font-weight: 400;

line-height: 30px;

text-transform: uppercase;
}
.service-icon {
	width: 28px;
	height: 28px;
	color: black;
	font-size: 28px;
}
/*choose us*/

/*portfolio*/
.portfolio-title {
    color: #60606e;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
}

.portfolio-description {
    color: #60606e;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.filter-title {
    color: #60606e;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
}

.container-fluid.no-gutter {
	padding: 0px;
}
.container-fluid.no-gutter .row [class*='col-']:not(:first-child),
.container-fluid.no-gutter .row [class*='col-']:not(:last-child)
{
  padding-right: 0;
  padding-left: 0;
}

.row {
   margin-left: 0;
   margin-right: 0;
}

.item { 
  border: none;
}

/* Isotope Transitions
------------------------------- */
.isotope,
.isotope .item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}
  
  
/*portfoliio*/
/* feedback */
.feedback {
    background-color: #7beec7;
    height: 329px;
  }
  .left-feed {
    height: 230px;
    width: 500px;
  }
  .left-feed-text {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.6;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    margin-bottom: 25px;
  }
  .white-button {
    border: none;
    width: 165px;
    height: 50px;
    background-color: #fff;
    color: #7beec7;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    cursor: pointer;
    /* left: 0; */
    position: absolute;
  }
  .right-feed {
    background-color: #fff;
    height: 230px;
    width: 555px;
  }
  .feed-text-heading {
    color: #60606e;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.6;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    margin-left: 25px;
    margin-top: 9px;
  }
  .default-text-in {
    color: #60606e;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 0 10px;
    margin-left: 25px;
    margin-bottom: 15px;
  }
  input {
    margin-left: 20px;
    height: 50px;
  }
  .form-control {
    border-radius: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #dbdbdb;
    font-size: 12px;
  }
  .btn-outline-secondary {
    background-color: #7beec7;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #fff;
    border-color: transparent;
    border-radius: 0;
    width: 135px;
    font-size: 14px;
  }
  .input-group-append {
    margin-right: 20px;
  }
  /* feedback */
/* footer */
.footer {
	min-height: 155px;
	padding: 50px 85px;
	font-family: 'OpenSans', 'Arial', sans-serif;
}

.footer a {
	font-family: 'OpenSans', 'Arial', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	display: inline-block;
}

.footer .navbar-nav li:not(:last-child):after {
	content: '-';
	color: #999999;
	margin-right: 2px;
}

.social {
	margin: 0 16px;
}

.social a {
	text-decoration: none;
	color: #999999;
	font-size: 18px;
}

.social li:not(:last-child) {
	margin: 0 8px;
}
/* footer */

@media screen and (max-width: 1080px) {
	.footer {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.footer__navbar {
		flex-direction: column;
	}

	.footer__navbar .navbar-nav {
		margin-right: 0 !important;
	}

	.footer a {
		display: block;
	}

	.footer li {
		text-align: center;
	}

	.social {
		text-align: center !important;
	}
}

@media screen and (max-width:991px){
  .hero-description{
      padding-top:0;
  }
  .first-row{
    margin-top:100px;
}
.second-row{
    margin-top:100px;
    padding-bottom:100px;
}

}
@media screen and (max-width:767px){
    .first-row{
        margin-top:70px;
    }
    .second-row{
        margin-top:70px;
        padding-bottom:100px;
    }
    .image-wrapper{
        margin-bottom: 30px;
    }

}
@media screen and (max-width:575px){
    .first-row{
        margin-top:30px;
    }
    .second-row{
        margin-top:30px;
    }
    .grey-border-text{
        font-size: 30px;
        line-height: 50px;
        min-height: 60px;
        border: 5px solid #60606e;
    }
   
}